.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 7s linear;
  height: 120px;
  margin: 0px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;

}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.newpic1{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction:row;

}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}
.row {
  display: flex;
}
.column {
  flex: 33.33%;
  padding: 5px;
}
